Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/AllDesktop
/Build/Android_ASTC
/Build/Android_ATC
/Build/Android_DXT
/Build/Android_ETC1
/Build/Android_ETC2
/Build/Android_Multi
/Build/Android_PVRTC
/Build/HTML5
/Build/IOS
/Build/Linux
/Build/LinuxClient
/Build/LinuxNoEditor
/Build/LinuxServer
/Build/Mac
/Build/MacClient
/Build/MacNoEditor
/Build/MacServer
/Build/TVOS
/Build/Windows
/Build/WindowsClient
/Build/WindowsNoEditor
/Build/WindowsServer
/Content/StarterContent
